body {
    font-family: cursive;
}

.h1 {
    background-color: violet;
    padding: 30px;
    font-size: 14px;
    text-align: center;
}

/* STYLE THE NAV */
.nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    width: auto;
    margin: auto;
    border: thin;
    border-radius: initial;
}

  